.popup-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 19.947917vw;
    margin: auto;
    color: white;
}