.main__button-check{
    background-color: #cb2720;
    border-radius: 10rem;
    border: 0;
    width: 20.83vw;
    padding: 1.3vw 3vw;
    color: white;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.2s;
    cursor: pointer;
}

.main__button-check:hover{
    background-color: #FD2016;
}